@import 'utilities.scss';

.section-contact{
  @include flex(column, flex-start, center); 
  margin-bottom: 80px;
 
    
  .contact-container{
    @include container;    
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include media($tablet){
      justify-content: center;
    }
  }

  .subtitle{
    font-style: italic;
    font-weight: 300;   
  }

  .contact-image {
    padding-top: 18px;
    height: 280px;
    width: 45%;
    overflow: hidden;   
    background-image: url(assets/images/960/mail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
   
    @include media($tablet){
      display: none;
    }
  }


  .contact-form {    
    display: grid;
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);  
    gap: 16px;
    width: 46%;
    height: 280px;
    justify-content: space-between;      
   
    border-radius: 5px;       
    z-index: 3;    
    @include media($tablet){
      width: 480px;
      padding: 0px;      
    }

    @include media($mobile){
      width: 100%;
      grid-template-columns: 100%; 
      
    }   
  }
 
  .item {
    @include flex(column, flex-start, flex-start);     
    &.message{
      grid-column: 1 / span 2;
      @include media($mobile){
        grid-column: unset;
      }
    }

    &.submit{
      grid-column: 1 / span 2;
      @include media($mobile){
        grid-column: unset;
      }
      
      input{
        font-weight: 600;
        cursor: pointer;
        @include cta-primary;
      }
    }

    label {
      font-size: 14px;
      margin-bottom: 2px;
      font-weight: 300;
    }

    input, textarea{           
      width: 100%;    
      border-radius: 5px;
      border: 1px solid #BBB;     
      padding: 10px 8px;
      font-size: 15px;      
    }

    textarea{
      resize: none;
      height: 120px;
    }

    
  }

  .overlay-spinner{
    @include flex(row, center, center);      
    @include size(100%, 100vh);
    position: fixed;    
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.85);
    
    svg {
      animation: rotation 2s infinite linear;
    }
  }

  .modal{
    @include flex(column, flex-start, center);      
    @include size(100%, 100vh);
    position: fixed;    
    top: 0px;
    left: 0px;
    z-index: 1001;    

    .overlay{
      @include size(100%, 100vh);
      position: fixed;    
      top: 0px;
      left: 0px;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.85);      
    }
    
    .message {      
      @include flex(row, center, center);
      position: relative;
      z-index: 1001;
      width: 480px;      
      min-height: 220px;
      padding: 20px;          
      position: relative;
      border-radius: 5px;
      margin-top: 80px;

      &.success{
        background-color: $primary-dark;
      }

      &.danger{
        background-color: #8c0d26;
      }


      @include media($mobile){
        width: 90%;
      }

      .text{
        color: white;
        line-height: 1.6;
      }

      .close-btn{
        @include flex;
        @include size(42px, 42px);  

        position: absolute;
        top: 0px;
        right: 6px;    
        padding: 2px;
        border: none;
        background-color: inherit;
        cursor: pointer; 
       
        .drawning {
          transform: rotate(45deg);
          position: relative;
          @include size(22px, 22px);
          span:first-child{
            position: absolute;
            top: 10px;
            border-top: 2px solid white;
            width: 22px;
            left: 0px;
          }
          span:last-child{
            position: absolute;
            height: 22px;
            left: 10px;
            border-left: 2px solid white;
          }
        }
      }

    }

    
    
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}