@import 'utilities.scss';


.section-portfolio{
  @include container;


  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    @include media($tablet){ grid-template-columns: repeat(2, 50%); }
    @include media($mobile){ grid-template-columns: 100%; }
    gap: 40px 20px;

    .card{
      padding: 8px;
        
      border-radius: 3px;      
      color: black;     

      .project-link, .project-link-title{
        @include link-no-decoration;
      }

      .img-container{
        width: 100%;
        padding-bottom: 62%;
        position: relative;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        &:hover{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        border-radius: 5px;
        img{
          
          border-radius: 3px;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .description{
        padding: 0px 3px;
        margin-top: 8px;
        @include flex(row, space-between, center);
        
        .title{
          font-size: 15px;
          font-weight: 600;
          &:hover{
            text-decoration: underline;
            font-weight: 600;
          }
        }

        .icons-container{
          svg{            
            height: 14px;
            width: auto;
            &:not(:first-child){margin-left: 6px;}
          }
        }
      }
    }
  }
}

.section-single-project{
  @include container;
  box-sizing: content-box;
  max-width:  Min(960px, 60%);
  margin: 0px auto;
  margin-bottom: 120px;
  @include media($tablet){
    max-width: Min(640px, 80%);
  }
  @include media($mobile){
    max-width: unset;
  }

  .description{
    line-height: 1.6;
  }

  .thumbnail{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
  }

  header{
    margin-bottom: 20px;
    h2{
      text-transform: uppercase;      
    }
  }

  .techs{
    font-weight: 600;
    margin: 20px 0px 20px 0px;
  }

  .links-container{
   
    @include flex(row, flex-start, center);
    @include media($mobile){
      flex-direction: column-reverse;
      align-items: flex-start;
      a:first-child{
        margin-right: 0px;
      } 
      a{
        margin-top: 20px;
      }

    }
    a{
      @include flex(row, flex-start, center);
      font-size: 14px;      
      >*:first-child{
        margin-right: 12px;
      }
    }
    a:first-child{
      margin-right: 20px;
    }    
    .see-live{
      @include cta-primary;
      background-color: black;
    }

    .see-source-code{
      @include cta-secondary;
      border: 1px solid black;
      color: black;
    }

  }

  .back{
    margin-top: 20px;
    a{
      color: black;
      font-weight: 600;
    }
  }


}